# Handle line endings automatically
text=auto

# These files are text and should be normalized
.gitattributes text
.gitignore text
.md text diff=markdown

# Exclude files from exporting
.gitattributes exprot-ignore
.gitignore     exprot-ignore

